@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background-color: #9921e8;
  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

a {
  background-color: #6609a3;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  display: block;
  padding: 0.8rem;
  font-family: inherit;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  width: 100px;
  max-width: 100%;
}

h2 {
  color: white;
  text-align: center;
}
