@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

a {
  background-color: #9b59b6;
  color: white;
  border-radius: 10px;
  display: block;
  padding: 1.1rem;
  font-family: inherit;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
}

h2 {
  text-align: center;
}
